
textarea {   
    resize: none;
    font-family: "Raleway"; 
    min-width: 35em;
    overflow: visible;
    background-color: #fff;
}
.form-group { 
    background: #fff; 
    padding: 0; 
    margin: 1em auto; 
    font-family: "Raleway";
   
}

.h2 {
    font-family: Raleway;
    color: #397373;
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 1040px;
    }
  }